APP_NAME=CanvasDist
APP_ENV=local
APP_KEY=
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=canvasdist
DB_USERNAME=
DB_PASSWORD=

DUITKU_MERCHANT_CODE=
DUITKU_API_KEY=
DUITKU_ENV=sandbox
DUITKU_CALLBACK_URL=${APP_URL}/api/payment/duitku/callback
DUITKU_RETURN_URL=${APP_URL}/payment/return

WHATSAPP_PROVIDER=fonnte
WHATSAPP_API_KEY=
WHATSAPP_SENDER_NUMBER=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=ap1

GOOGLE_MAPS_API_KEY=
